.button{
    position: fixed;
    align-items: flex-end;
    bottom: 60px;
    left: 7%;
    background-image: url(/src/imagens/buttonvoltar.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 150px; /* Largura do botão */
    height: 150px; /* Altura do botão */
    border: none;
    cursor: pointer;
    background-color: transparent;
    pointer-events: none;
}

.button img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

body, html{
    height: 100%;
    margin: 0;
    overflow: hidden;
    background-image: url(/src/imagens/meuprojeto.jpg);
    background-size: cover;
    background-position: center;
}

.imgcreditos{
    display: block;
    margin: 0 auto;
    max-width: 20%;
    margin-top: 40px;
}

.conteudo-creditos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#charizard{
    margin-top: 110px;
    max-width: 70%;
    max-height: 100%;
}

#brandon{
    max-width: 70%;
    max-height: 60%;
    margin-bottom: 20px;
}


#callun{
    max-width: 70%;
    max-height: 50%;
    margin-bottom: 30px;
}

.imginstagram{
    max-width: 25px;
    max-height: 40px;
}

.img-github{
    max-width: 6%;
    max-height: 6%;
}

a {
    text-decoration: none;
    color: black;
}

.links-joao{
    font-family: 'VT323', monospace;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-left: 60px;
}

.links-vinicius{
    font-family: 'VT323', monospace;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-left: 50px;
}

.Joao-vinicius{
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    margin-top: 170px;
    margin-left: 150px;
    height: 200px;
}
