input[value="Voltar"]{
    position: fixed;
    align-items: flex-end;
    bottom: 60px;
    left: 7%;
}

body, html{
    height: 100%;
    margin: 0;
    overflow: hidden;
    background-image: url();
    background-color: red;
}

.imgcreditos{
    display: block;
    margin: 0 auto;
    max-width: 20%;
    margin-top: 40px;
}

.imgcriadores{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.charmander{
    max-width: 30%;
    max-height: 50%;
}

.picachu{
    max-width: 8%;
    max-height: 30%;
    margin-top: 90px;
}

.cabeloverde{
    
}