@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

body, html{
    height: 100%;
    background: linear-gradient(to right, #d4d3dd, #efefbb);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    font-family: 'VT323', monospace;
}

#barras-de-vida{
    display: flex;
    justify-content: space-between;
    margin: 0 60px;
}

#vida{
    width: 300px;
    height: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
}

#vidaFill{
    height: 100%;
    background-color: #f44336;
    width: 0;
    border-radius: 10px;
}

#vidaPc{
    width: 300px;
    height: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
}

#vidaPcFill{
    height: 100%;
    background-color: #f44336;
    width: 0;
    border-radius: 10px;
}

.nome-genero{
    font-size: 22px;
}

.atq-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%; 
    padding: 20px; 
}

.btn-ataque{
    width: 300px;
    height: 70px;
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn-ataque + .btn-ataque {
    margin-left: 30px;
    margin-top: 20px;
}

.btn-ataque:active {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    transform: translateY(3px);
}


@media (max-width: 480px) {
    .btn-ataque {
        padding: 8px 16px;
        font-size: 14px;
    }
}